.home_main-container {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "search search"
    "filters products";
  gap: 2rem;
}

.home_input-container {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.home_input {
  height: 50px;
  width: 50%;
  padding: 20px;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.home_input-button {
  height: 50px;
  background: #f85555;
  color: white;
  width: 5rem;
  cursor: pointer;
}

.home_input-button:hover {
  transform: scale(1.05);
}

.card_main-container {
  grid-area: filters;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
}
.category{
    display: grid;
    grid-template-columns: auto;
    width: 70%;
    gap: 0.5rem;
    padding-top: 1rem;
}
.categories{
    cursor: pointer;
}
.allProducts{
    cursor: pointer;
}
.filter_container{   
    width: 70%;
}
.filter_price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  padding-top: 4rem;
}

.from_to {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 1rem;
  height: 10rem;
  gap: 1rem;
}

.filter_input {
  border: none;
  height: 3rem;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.filter_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
  background: #f85555;
  color: whitesmoke;
  border-radius: 0.5rem;
}

.filter_button:hover {
  transform: scale(1.05);
}
.home_products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    padding: 5rem;
}
.home_products img {
  max-width: 200px; /* Ancho máximo */
  max-height: 150px; /* Altura máxima */
  width: auto; /* Establece el ancho automático para mantener la relación de aspecto */
  height: auto;
}
